<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Warning: Toolchain Status has been in an extended unready state
    </title>
    <style>
        a:hover {
            text-decoration: underline !important;
        }
        p {
            text-align: left;
            margin: 30px 0;
        }
    </style>
</head>

<body
        style="
       padding: 10px;
       padding: 0;
       background-color: #f9f9f9;
       font-family: 'Open Sans', sans-serif;
       font-size: 15px;
       font-weight: lighter;
       line-height: 1.2;"
>
<div
        style="
       min-height: 300px;
       max-width: 750px;
       margin: 0 auto;
       padding: 20px;
       border: 1px solid #d7d7d7;
       border-radius: 4px;
       background-color: #fff;
       box-shadow: 0 2px 4px #d7d7d7;"
>

    <p>
        You are receiving this email because you have a <a href="{{.RegistrationURL}}">Red Hat OpenShift Dev Sandbox Beta</a>
        account associated with {{.UserEmail}}.
    </p>

    <p>
        Your account is now deactivated and all your data on Red Hat OpenShift Dev Sandbox has been deleted. You can request new access by signing up again.
    </p>

    <p>
        We appreciate your feedback at devsandbox@redhat.com to help us improve our service.
    </p>

    <p>
        Thanks,<br />
        The Red Hat OpenShift Dev Sandbox team
    </p>
</div>
</body>
</html>
