apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
    annotations:
      kubectl.kubernetes.io/default-container: manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        - name: kube-rbac-proxy
          image: registry.redhat.io/openshift4/ose-kube-rbac-proxy:v4.13.0
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
          args:
            - "--secure-listen-address=0.0.0.0:8443"
            - "--upstream=http://127.0.0.1:8080/"
            - "--logtostderr=true"
            - "--v=3"
          ports:
            - name: https
              containerPort: 8443
        - name: manager
          command:
          - host-operator
          args:
            - "--health-probe-bind-address=:8081"
            - "--metrics-bind-address=127.0.0.1:8080"
            - "--leader-elect"
          image: REPLACE_IMAGE
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
          - name: REGISTRATION_SERVICE_IMAGE
            value: REPLACE_REGISTRATION_SERVICE_IMAGE
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "host-operator"
          resources:
            requests:
              cpu: 100m
              memory: 250M
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
