apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: appstudio-ns
objects:
- apiVersion: v1
  kind: Namespace
  metadata:
    annotations:
      openshift.io/description: ${USERNAME}
      openshift.io/display-name: ${USERNAME}
      openshift.io/requester: ${USERNAME}
    labels:
      name: ${USERNAME}
      toolchain.dev.openshift.com/workspace: ${USERNAME}
      argocd.argoproj.io/managed-by: gitops-service-argocd
    name: ${USERNAME}

# ServiceAccounts that represents the AppStudio user - the token of this SA is used by the proxy for forwarding the requests from UI (or any other client) 
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: appstudio-${USERNAME}
    namespace: ${USERNAME}

# Role & RoleBinding that grants limited CRUD permissions on AppStudio components CRDs & secrets to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: admin-appstudio-user-actions
    namespace: ${USERNAME}
  rules:
  - apiGroups:
    - managed-gitops.redhat.com
    resources:
    - gitopsdeployments
    verbs:
    - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - applications
    - components
    - componentdetectionqueries
    verbs:
    - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokenbindings
    verbs:
    - create
    - get
    - list
    - watch
    - delete
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokens
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - tekton.dev
    resources:
    - pipelineruns
    verbs:
    - "*"
  - apiGroups:
    - ""
    resources:
    - secrets
    verbs:
    - create
    - delete
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: appstudio-${USERNAME}-user-actions
    namespace: ${USERNAME}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: admin-appstudio-user-actions
  subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: appstudio-${USERNAME}

# Role & RoleBinding that grants view permissions to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: appstudio-${USERNAME}-view
    namespace: ${USERNAME}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: view
  subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: appstudio-${USERNAME}

# Role & RoleBinding that grants limited read permissions to all SAs in member-operator namespace.
# This is needed to let Proxy read the ServiceAccounts and Secrets in this namespace.
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: toolchain-sa-read
    namespace: ${USERNAME}
  rules:
  - apiGroups:
    - ""
    resources:
    - secrets
    - serviceaccounts
    verbs:
    - get
    - list
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: ${USERNAME}-sa-read
    namespace: ${USERNAME}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: toolchain-sa-read
  subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: system:serviceaccounts:${MEMBER_OPERATOR_NAMESPACE}

# Other template objects
- apiVersion: v1
  kind: LimitRange
  metadata:
    name: resource-limits
    namespace: ${USERNAME}
  spec:
    limits:
    - type: "Container"
      default:
        cpu: 1000m
        memory: 750Mi
      defaultRequest:
        cpu: 10m
        memory: 64Mi
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-same-namespace
    namespace: ${USERNAME}
  spec:
    podSelector: {}
    ingress:
    - from:
      - podSelector: {}
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-openshift-ingress
    namespace: ${USERNAME}
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: ingress
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-openshift-monitoring
    namespace: ${USERNAME}
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: monitoring
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-codeready-workspaces-operator
    namespace: ${USERNAME}
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: codeready-workspaces
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-olm-namespaces
    namespace: ${USERNAME}
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            openshift.io/scc: anyuid
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-console-namespaces
    namespace: ${USERNAME}
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: console
    podSelector: {}
    policyTypes:
    - Ingress
parameters:
- name: USERNAME
  required: true
- name: MEMBER_OPERATOR_NAMESPACE
  value: toolchain-member-operator