apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: appstudio-spacerole-viewer
objects:

# ServiceAccounts that represents the AppStudio user - the token of this SA is used by the proxy for forwarding the requests from UI (or any other client)
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}

# Role(s) and RoleBinding(s) that grant limited CRUD permissions on AppStudio components CRDs & secrets to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    namespace: ${NAMESPACE}
    name: viewer-appstudio-user-actions
  rules:
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - applications
    - components
    - componentdetectionqueries
    verbs:
    - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokenbindings
    verbs:
    - create
    - get
    - list
    - watch
    - delete
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokens
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - tekton.dev
    resources:
    - pipelineruns
    verbs:
    - "*"
  - apiGroups:
    - ""
    resources:
    - secrets
    verbs:
    - create
    - delete
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}-user-actions
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: viewer-appstudio-user-actions
  subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: appstudio-${USERNAME}

# Role & RoleBinding that grants view permissions to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}-view
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: view
  subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: appstudio-${USERNAME}

parameters:
- name: NAMESPACE
  required: true
- name: USERNAME
  required: true
- name: MEMBER_OPERATOR_NAMESPACE
  value: toolchain-member-operator