apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: appstudio-spacerole-admin # name is used in e2e tests
objects:

# ServiceAccounts that represents the AppStudio user - the token of this SA is used by the proxy for forwarding the requests from UI (or any other client) 
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}

# Role(s) and RoleBinding(s) that grant limited CRUD permissions on AppStudio components CRDs & secrets to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-user-actions
  rules:
  - apiGroups:
    - managed-gitops.redhat.com
    resources:
    - gitopsdeployments
    verbs:
    - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - applications
    - components
    - componentdetectionqueries
    verbs:
    - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - applicationpromotionruns
    - applicationsnapshotenvironmentbindings
    - applicationsnapshots
    - environments
    verbs:
    - create
    - get
    - list
    - watch
    - update
    - patch
    - delete
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - enterprisecontractpolicies
    - integrationtestscenarios
    - releases
    - releasestrategies
    - releaseplans
    - releaseplanadmissions
    verbs:
    - create
    - get
    - list
    - watch
    - update
    - patch
    - delete
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokenbindings
    - spiaccesschecks
    - spiaccesstokens
    verbs:
    - create
    - get
    - list
    - watch
    - update
    - patch
    - delete
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokendataupdates
    verbs:
    - create
  - apiGroups:
    - tekton.dev
    resources:
    - pipelineruns
    verbs:
    - "*"
  - apiGroups:
    - ""
    resources:
    - secrets
    verbs:
    - create
    - delete
  - apiGroups:
    - ""
    resources:
    - configmaps
    verbs:
    - create
    - delete
    - get
    - list
    - watch
  - apiGroups:
    - results.tekton.dev
    resources:
    - results
    - records
    verbs:
    - get
    - list
  - apiGroups:
    - singapore.open-cluster-management.io
    resources:
    - registeredclusters
    verbs:
    - create
    - get
    - list
    - watch
    - delete
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}-user-actions
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: appstudio-user-actions
  subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: appstudio-${USERNAME}

# Role & RoleBinding that grants view permissions to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}-view
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: view
  subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: appstudio-${USERNAME}

parameters:
- name: NAMESPACE
  required: true
- name: USERNAME
  required: true
