apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: appstudio-spacerole-admin # name is used in e2e tests
objects:

# Role(s) and RoleBinding(s) that grant limited CRUD permissions on AppStudio components CRDs & secrets to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-user-actions
  rules:
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - applications
    - components
    - componentdetectionqueries
    verbs:
    - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - promotionruns
    - snapshotenvironmentbindings
    - snapshots
    - environments
    verbs:
    - "*"
  - apiGroups:
      - appstudio.redhat.com
    resources:
      - deploymenttargets
      - deploymenttargetclaims
    verbs:
      - "*"
  - apiGroups:
      - managed-gitops.redhat.com
    resources:
      - gitopsdeployments
      - gitopsdeploymentmanagedenvironments
      - gitopsdeploymentrepositorycredentials
      - gitopsdeploymentsyncruns
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - tekton.dev
    resources:
      - pipelineruns
    verbs:
      - "*"
  - apiGroups:
      - results.tekton.dev
    resources:
      - results
      - records
      - logs
    verbs:
      - get
      - list
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - enterprisecontractpolicies
    - integrationtestscenarios
    - releases
    - releasestrategies
    - releaseplans
    - releaseplanadmissions
    verbs:
    - "*"
  - apiGroups:
      - jvmbuildservice.io
    resources:
      - jbsconfigs
      - artifactbuilds
    verbs:
      - "*"
  - apiGroups:
    - appstudio.redhat.com
    resources:
    - spiaccesstokenbindings
    - spiaccesschecks
    - spiaccesstokens
    - spifilecontentrequests
    - spiaccesstokendataupdates
    verbs:
    - "*"
  - apiGroups:
    - ""
    resources:
    - secrets
    verbs:
    - "*"
  - apiGroups:
    - ""
    resources:
    - configmaps
    verbs:
    - "*"
  # Allow to manage pipeline ServiceAccount for linking secrets used for repositories
  - apiGroups:
    - ""
    resources:
    - serviceaccounts 
    resourceNames:
    - appstudio-pipeline  
    verbs:
    - get
    - list
    - watch
    - update
    - patch

# RoleBinding that grants limited CRUD permissions to the User
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}-actions-user
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: appstudio-user-actions
  subjects:
  - kind: User
    name: ${USERNAME}
# RoleBinding that grants view permissions to the User
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${USERNAME}-view-user
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: view
  subjects:
  - kind: User
    name: ${USERNAME}

parameters:
- name: NAMESPACE
  required: true
- name: USERNAME
  required: true
