apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: appstudio-spacerole-maintainer # name is used in e2e tests
objects:
# ServiceAccounts that represents the AppStudio user - the token of this SA is used by the proxy for forwarding the requests from UI (or any other client)
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${SPACE_NAME}

# RoleBinding that grants limited CRUD permissions on AppStudio components CRDs & secrets to the user's SA
# Role(s) and RoleBinding(s) that grant limited CRUD permissions on AppStudio components CRDs & secrets to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-maintainer-user-actions
  rules:
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - applications
        - components
        - componentdetectionqueries
      verbs:
        - get
        - list
        - watch
        - create
        - update
        - patch
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - promotionruns
        - snapshotenvironmentbindings
        - snapshots
        - environments
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - deploymenttargets
        - deploymenttargetclaims
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - managed-gitops.redhat.com
      resources:
        - gitopsdeployments
        - gitopsdeploymentmanagedenvironments
        - gitopsdeploymentrepositorycredentials
        - gitopsdeploymentsyncruns
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - tekton.dev
      resources:
        - pipelineruns
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - results.tekton.dev
      resources:
        - results
        - records
        - logs
      verbs:
        - get
        - list
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - integrationtestscenarios
      verbs:
        - '*'
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - enterprisecontractpolicies
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - releases
        - releasestrategies
        - releaseplans
      verbs:
        - '*'
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - releaseplanadmissions
      verbs:
        - '*'
    - apiGroups:
        - jvmbuildservice.io
      resources:
        - jbsconfigs
        - artifactbuilds
      verbs:
        - get
        - list
        - watch
        - create
        - update
        - patch
    - apiGroups:
        - appstudio.redhat.com
      resources:
        - spiaccesstokenbindings
        - spiaccesschecks
        - spiaccesstokens
        - spifilecontentrequests
        - spiaccesstokendataupdates
      verbs:
        - get
        - list
        - watch
        - create
        - update
        - patch
    - apiGroups:
        - ''
      resources:
        - configmaps
      verbs:
        - get
        - list
        - watch
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-maintainer-${SPACE_NAME}-actions-user
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: appstudio-maintainer-user-actions
  subjects:
    - kind: User
      name: ${SPACE_NAME}
# Role & RoleBinding that grants view permissions to the user's SA
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    namespace: ${NAMESPACE}
    name: appstudio-${SPACE_NAME}-view-user
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: view
  subjects:
  - kind: User
    name: ${SPACE_NAME}

parameters:
- name: NAMESPACE
  required: true
- name: SPACE_NAME
  required: true
