apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: usersignups.toolchain.dev.openshift.com
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.userID
    name: User ID
    priority: 1
    type: string
  - JSONPath: .spec.username
    name: Username
    priority: 1
    type: string
  - JSONPath: .spec.targetCluster
    name: TargetCluster
    priority: 1
    type: string
  - JSONPath: .status.conditions[?(@.type=="Complete")].status
    name: Complete
    type: string
  - JSONPath: .status.conditions[?(@.type=="Complete")].reason
    name: Reason
    type: string
  - JSONPath: .status.conditions[?(@.type=="Approved")].status
    name: Approved
    priority: 1
    type: string
  - JSONPath: .status.conditions[?(@.type=="Approved")].reason
    name: ApprovedBy
    priority: 1
    type: string
  group: toolchain.dev.openshift.com
  names:
    kind: UserSignup
    plural: usersignups
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            approved:
              description: If Approved set to 'true' then the user has been manually
                approved If not set then the user is subject of auto-approval (if
                enabled)
              type: boolean
            targetCluster:
              description: The cluster in which the user is provisioned in If not
                set then the target cluster will be picked automatically
              type: string
            userID:
              description: UserID is the user ID from RHD Identity Provider token
                (“sub” claim)
              type: string
            username:
              description: The username.  This may differ from the UserSignup's metadata.name,
                which is restricted by the limited character set available for naming
                (see RFC1123).  If the username contains characters which are disqualified
                from the resource name, the username is transformed into an acceptable
                resource name instead. For example, johnsmith@redhat.com -> johnsmith-at-redhat-com
              type: string
          required:
          - userID
          - username
          type: object
        status:
          properties:
            conditions:
              description: 'Conditions is an array of current UserSignup conditions
                Supported condition types: PendingApproval, Provisioning, Complete
                +patchMergeKey=type +patchStrategy=merge'
              items:
                properties:
                  lastTransitionTime:
                    description: Last time the condition transit from one status to
                      another.
                    format: date-time
                    type: string
                  message:
                    description: Human readable message indicating details about last
                      transition.
                    type: string
                  reason:
                    description: (brief) reason for the condition's last transition.
                    type: string
                  status:
                    description: Status of the condition, one of True, False, Unknown.
                    type: string
                  type:
                    description: Type of condition
                    type: string
                required:
                - type
                - status
                type: object
              type: array
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
