kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: host-operator
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - namespaces
  - componentstatuses
  verbs:
  - get
  - list
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "get"
  - "create"
  - "list"
  - "watch"
- apiGroups:
  - openshift.io
  resources:
   - routes
  verbs:
  - "get"
  - "list"
