kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: host-operator
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - "list"
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "get"
  - "create"
- apiGroups:
  - toolchain.dev.openshift.com
  resources:
  - "*"
  verbs:
  - "*"
