apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: host-operator-v0.1
  namespace: toolchain-host-operator
spec:
  lookupPolicy:
    local: false
  tags:
  - from:
      kind: DockerImage
      name: registry.svc.ci.openshift.org/codeready-toolchain/host-operator-v0.1:host-operator
    importPolicy:
      scheduled: true
    name: host-operator
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: host-operator
  name: host-operator
  namespace: toolchain-host-operator
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    app: host-operator
    deploymentconfig: host-operator
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: host-operator
        deploymentconfig: host-operator
    spec:
      serviceAccountName: host-operator
      containers:
      - name: host-operator
        image: ''
        command:
        - host-operator
        imagePullPolicy: IfNotPresent
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: "host-operator"
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - host-operator
      from:
        kind: ImageStreamTag
        name: host-operator-v0.1:host-operator
        namespace: toolchain-host-operator
    type: ImageChange
