kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: host-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - podtemplates
  - resourcequotas
  - serviceaccounts
  - replicationcontrollers
  - limitranges
  verbs:
  - get
  - list
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments/finalizers
  resourceNames:
  - host-operator
  verbs:
  - "update"
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - "get"
  - "create"
- apiGroups:
  - core.kubefed.io
  resources:
  - kubefedclusters
  verbs:
  - "*"
- apiGroups:
  - core.kubefed.io
  resources:
  - kubefedclusters/status
  verbs:
  - update
- apiGroups:
  - toolchain.dev.openshift.com
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  - authorization.openshift.io
  resources:
  - roles
  - rolebindings
  verbs:
  - '*'