apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: base1ns-dev
objects:
- apiVersion: v1
  kind: Namespace
  metadata:
    annotations:
      openshift.io/description: ${SPACE_NAME}-dev
      openshift.io/display-name: ${SPACE_NAME}-dev
      openshift.io/requester: ${SPACE_NAME}
    labels:
      name: ${SPACE_NAME}-dev
      # For RHODS: Allow user namespace to be treated as a DSP to enable Model Serving on this NS
      modelmesh-enabled: "true"
      opendatahub.io/dashboard: "true"
    name: ${SPACE_NAME}-dev

# Role and RoleBindings for CRT administration (not associated with users)
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: exec-pods
    namespace: ${SPACE_NAME}-dev
  rules:
  - apiGroups:
    - ""
    resources:
    - pods/exec
    verbs:
    - get
    - list
    - watch
    - create
    - delete
    - update
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: crtadmin-view
    namespace: ${SPACE_NAME}-dev
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: view
  subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: crtadmin-users-view
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: crtadmin-pods
    namespace: ${SPACE_NAME}-dev
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: exec-pods
  subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: crtadmin-users-view

# Quotas and default limits for not-terminating containers (regular long-running containers)
# and terminating (short-lived containers like build) containers
- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: compute-deploy
    namespace: ${SPACE_NAME}-dev
  spec:
    scopes:
    - NotTerminating
    hard:
      limits.cpu: 20000m
      limits.memory: ${MEMORY_LIMIT}
      requests.cpu: 3000m
      requests.memory: ${MEMORY_REQUEST}
- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: compute-build
    namespace: ${SPACE_NAME}-dev
  spec:
    scopes:
    - Terminating
    hard:
      limits.cpu: 20000m
      limits.memory: ${MEMORY_BUILD_LIMIT}
      requests.cpu: 3000m
      requests.memory: ${MEMORY_BUILD_REQUEST}
- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: storage
    namespace: ${SPACE_NAME}-dev
  spec:
    hard:
      limits.ephemeral-storage: 15Gi
      requests.storage: 60Gi
      requests.ephemeral-storage: 15Gi
      count/persistentvolumeclaims: "5"
- apiVersion: v1
  kind: LimitRange
  metadata:
    name: resource-limits
    namespace: ${SPACE_NAME}-dev
  spec:
    limits:
    - type: "Container"
      default:
        cpu: 1000m
        memory: 1000Mi
      defaultRequest:
        cpu: 10m
        memory: 64Mi

- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-same-namespace
    namespace: ${SPACE_NAME}-dev
  spec:
    podSelector: {}
    ingress:
    - from:
      - podSelector: {}
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-openshift-ingress
    namespace: ${SPACE_NAME}-dev
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: ingress
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-openshift-monitoring
    namespace: ${SPACE_NAME}-dev
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: monitoring
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-codeready-workspaces-operator
    namespace: ${SPACE_NAME}-dev
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: codeready-workspaces
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-olm-namespaces
    namespace: ${SPACE_NAME}-dev
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            openshift.io/scc: anyuid
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-console-namespaces
    namespace: ${SPACE_NAME}-dev
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            network.openshift.io/policy-group: console
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-openshift-virtualization-namespaces
    namespace: ${SPACE_NAME}-dev
  spec:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: openshift-virtualization-os-images
    - from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: openshift-cnv
    podSelector: {}
    policyTypes:
    - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-redhat-ods-app-to-mariadb
    namespace: ${SPACE_NAME}-dev
  spec:
    podSelector: 
      matchLabels:
        app: mariadb-dspa
    ingress:
      - ports:
          - protocol: TCP
            port: 3306
        from:
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: data-science-pipelines-operator
            namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: redhat-ods-applications
    policyTypes:
      - Ingress
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-redhat-ods-app-to-mm
    namespace: ${SPACE_NAME}-dev
  spec:
    podSelector:
      matchLabels:
        modelmesh-service: modelmesh-serving
    ingress:
      - from:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: redhat-ods-applications
    policyTypes:
      - Ingress
parameters:
- name: SPACE_NAME
  required: true
- name: MEMORY_LIMIT
  value: "18Gi"
- name: MEMORY_REQUEST
  value: "18Gi"
- name: MEMORY_BUILD_LIMIT
  value: "14Gi"
- name: MEMORY_BUILD_REQUEST
  value: "14Gi"
