---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: spaces.toolchain.dev.openshift.com
spec:
  group: toolchain.dev.openshift.com
  names:
    kind: Space
    listKind: SpaceList
    plural: spaces
    singular: space
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.targetCluster
      name: Cluster
      type: string
    - jsonPath: .spec.tierName
      name: Tier
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Reason
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Space is the Schema for the spaces API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SpaceSpec defines the desired state of Space
            properties:
              parentSpace:
                description: "ParentSpace holds the name of the context (Space) from
                  which this space was created (requested), enabling hierarchy relationships
                  between different Spaces. \n Keeping this association brings two
                  main benefits: 1. SpaceBindings are inherited from the parent Space
                  2. Ability to easily monitor quota for the requested sub-spaces"
                type: string
              targetCluster:
                description: TargetCluster The cluster in which this Space is going
                  to be provisioned If not set then the target cluster will be picked
                  automatically
                properties:
                  name:
                    description: Name allows to select a specific target cluster for
                      the Space to be provisioned.
                    type: string
                  roles:
                    description: Roles allows to specify a list of cluster-roles,
                      the capacity manager will use those labels to select the target
                      cluster for the Space.
                    items:
                      type: string
                    type: array
                type: object
              tierName:
                description: TierName is introduced to retain the name of the tier
                  for which this Space is provisioned If not set then the tier name
                  will be set automatically
                type: string
            type: object
          status:
            description: SpaceStatus defines the observed state of Space
            properties:
              conditions:
                description: 'Conditions is an array of current Space conditions Supported
                  condition types: ConditionReady'
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transit from one status
                        to another.
                      format: date-time
                      type: string
                    lastUpdatedTime:
                      description: Last time the condition was updated
                      format: date-time
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: (brief) reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              targetCluster:
                description: TargetCluster The cluster in which this Space is currently
                  provisioned Can be empty if provisioning did not start or failed
                  To be used to de-provision the NSTemplateSet if the Spec.TargetCluster
                  is either changed or removed
                properties:
                  name:
                    description: Name allows to select a specific target cluster for
                      the Space to be provisioned.
                    type: string
                  roles:
                    description: Roles allows to specify a list of cluster-roles,
                      the capacity manager will use those labels to select the target
                      cluster for the Space.
                    items:
                      type: string
                    type: array
                type: object
            type: object
        type: object
        x-kubernetes-preserve-unknown-fields: true
    served: true
    storage: true
    subresources:
      status: {}
