name: ci-build
on:
  push:
    branches:
      - master
    tags-ignore:
      - '*.*'
  pull_request:
    branches:
      - master

jobs:
  test-with-coverage:
    name: Test with Coverage
    runs-on: ubuntu-20.04
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
    
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: generate
      run: |
        make generate
    
    - name: Test
      run: |
        make test-with-coverage

    - name: Upload code coverage
      uses: codecov/codecov-action@v1
      with:
        files: ./build/_output/coverage/coverage.txt
        flags: unittests # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
    
  golangci:
    name: GolangCI Lint
    runs-on: ubuntu-20.04
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
        
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: generate
      run: |
        make generate
    
    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.39
        skip-go-installation: true
        args: -E gofmt,golint,megacheck,misspell


