name: ci-build
on:
  push:
    branches:
      - master
    tags-ignore:
      - '*.*'
  pull_request:
    branches:
      - master

jobs:
  test-with-coverage:
    name: Test with Coverage
    runs-on: ubuntu-20.04
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.x
    
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: generate
      run: |
        make generate
    
    - name: Test
      run: |
        make test-with-coverage

    - name: Upload code coverage
      uses: codecov/codecov-action@v3
      with:
        files: ./build/_output/coverage/coverage.txt
        flags: unittests # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
    
  golangci:
    name: GolangCI Lint
    runs-on: ubuntu-20.04
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.x
        
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: generate
      run: |
        make generate
    
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.45.0
        skip-pkg-cache: true
        skip-build-cache: true
        args: --config=./.golangci.yml --verbose
  
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Generate SBOM
      uses: CycloneDX/gh-gomod-generate-sbom@v1
      with:
        version: v1
        args: mod -licenses -json -output -
