name: ci-build
on:
  push:
    branches:
      - master
    tags-ignore:
      - '*.*'
  pull_request:
    branches:
      - master

jobs:
  golangci:
    name: GolangCI Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: generate
      run: |
        make generate
    
    - name: Lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.0.2
        skip-pkg-cache: true
        skip-build-cache: true
        args: --config=./.golangci.yml --verbose
  
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Generate SBOM
      uses: CycloneDX/gh-gomod-generate-sbom@v2
      with:
        version: v1
        args: mod -licenses -json -output -
