name: govulncheck
on:
  pull_request:
    branches:
      - master

jobs:
  govulncheck:
    name: govulncheck
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Run govulncheck
      uses: xcoulon/toolchain-cicd/govulncheck-action@govulncheck_dockerfile
      with:
        config: .govulncheck.yaml 
        debug: true # optional (default = false)