name: test-with-coverage
on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: generate
        run: |
          make generate
    
      - name: Test
        run: |
          make test-with-coverage

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: ./build/_output/coverage/coverage.txt    
